<header>
    <nav
        class='navbar navbar-expand-sm navbar-dark bg-dark d-flex justify-content-between'
    >
        <a class='navbar-brand' href='/'>Education</a>

        <form class='form-inline my-2 my-lg-0'>
            <div class='dropdown'>
                <a
                    class='nav-link dropdown-toggle'
                    href='#'
                    id='dropdownId'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false'
                >
                    <img
                        src='/img/user.png'
                        alt='User'
                        class='rounded-circle'
                        width='30'
                        height='30'
                    />
                    Ngọc Anh
                </a>
                <div
                    class='dropdown-menu dropdown-menu-right menu'
                    aria-labelledby='dropdownId'
                >
                    <a class='dropdown-item' href='/courses/create'>Tạo khóa học</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='/me/stored/courses'>Khóa học
                        của tôi</a>
                    <a class='dropdown-item' href='/me/stored/news'>Bài đăng của
                        tôi</a>
                    <div class='dropdown-divider'></div>

                    <a class='dropdown-item' href='#'>Đăng xuất</a>
                </div>
            </div>
        </form>
    </nav>
</header>